:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
    --text-primary: ;
    --text-secondary: ;
    --bg-primary: #FF8C42;
    --bg-secondary: #FF3C38;
    --transition-speed: 500ms;
}

*{
    margin: 0;
    padding: 0;
}

/* Font Sizing Begins */
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}
/* Font Sizes End */

/* Navbar Begins */
.navbar {
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Navbar Animations */
    color: grey;
    transition: width 200ms ease;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.navbar:hover .nav-link {
    color: var(--bg-primary);
    width: 16rem;
}

.nav-link {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    color: grey;
    transition: 400ms ease;
}

.nav-item {
    width: 100%;
    height: 6rem;
    display: flex;
    /* padding: 1.5rem; */
    /* transition: transform var(--transition-speed); */
}

.nav-link:hover .nav-icon {
    color: var(--bg-secondary);
}

.nav-link:hover .link-text {
    color: var(--bg-secondary);
}

.nav-link i { 
    font-size: 1.5rem;
    padding: 2px;
    margin: 5px;
}

.link-text {
    display: none;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.2rem;
}
/* Navbar Ends */

/* Logo Begins */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
    font-size: 3rem;
    /* color: var(--bg-primary) */
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}
/* Logo Ends */


/* Main Content Begins */
 .main-content {
     display: flex;
     width: auto;
     height: auto;
     justify-content: center;
     align-items: center;
     margin-left: 5rem;
     /* padding: 1rem; */
 }


/* Projects Section Begins */
 .projects-page {
     display: flex;
     flex-direction: column;
     /* justify-content: center;
     align-items: center; */
     width: 100%;
     height: auto;
 }

 .projects-header {
     display: flex;
     justify-content: center;
     align-items: center;
     width: auto;
     height: 20rem;
     margin: 1rem;
     padding: 1rem;
     background-color: var(--bg-secondary);
 }

 .projects-section {
     width: auto;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     padding: 1rem;
     margin: 1rem;
 }

 .project-div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     min-width: 20rem;
     height: 20rem;
     margin: 1rem;
     padding: 1rem;
     background: var(--bg-primary);
 }

 /* Projects Modals Begin */
 .project-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 60rem; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    top: 0;
  }
  
  /* Modal Content */
  .project-modal-content {
    display: flex;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    /* margin: auto; */
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; */
  }
  
  /* The Close Button */
  .close-modal-btn {
    color: #aaaaaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal-btn:hover,
  .close-modal-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

 /* Projects Section Ends */