:root {
    font-size: 16px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Source Code Pro', monospace; */
    /* font-family: 'Baloo 2', cursive; */
    /* font-family: 'Hind Madurai', sans-serif; */
    font-family: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;
    --text-primary: ;
    --text-secondary: ;
    --bg-primary: #FF8C42;
    --bg-secondary: #FF3C38;
    --transition-speed: 500ms;
}

*{
    margin: 0;
    padding: 0;
}


/* Font Sizing Begins ################################################ */
h1 {
    font-size: 5rem;
    letter-spacing: 0.3ch;
}

h2 {
    font-size: 3rem;
    /* letter-spacing: 0.3ch; */
    margin: 1.5rem 0 1.5rem 0;
}

h3 {
    font-size: 2rem;
    /* letter-spacing: 0.1ch; */
    margin: 1rem 0 1rem 0;
}

h4 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    /* letter-spacing: 0.3ch; */
}

h5 {
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
}

p {
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
}
/* Font Sizes End ################################################ */

/* Navbar Begins ################################################ */
.navbar {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Navbar Animations */
    color: black;
    transition: width 200ms ease;
    z-index: 2;
    /* border-right: 1px solid var(--bg-primary); */
}

.navbar:hover {
    width: 16rem;
    background-color: var(--bg-primary);
}

.navbar:hover .link-text {
    display: block;
    color: black;
}

.navbar:hover .nav-link {
    color: black;
    width: 16rem;
}

.navbar:hover .fa-chevron-circle-right {
    color: black;
}

.nav-link {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    color: black;
    transition: 400ms ease;
}

.nav-item {
    width: 100%;
    height: 6rem;
    display: flex;
    /* padding: 1.5rem; */
    /* transition: transform var(--transition-speed); */
}

.nav-link:hover .nav-icon {
    color: var(--bg-secondary);
}

.nav-link:hover .link-text {
    color: var(--bg-secondary);
}

.nav-link i { 
    font-size: 1.5rem;
    padding: 2px;
    margin: 5px;
}

.link-text {
    display: none;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.fa-chevron-circle-right {
    color: var(--bg-primary);
}
/* Navbar Ends ################################################ */

/* Logo Begins ################################################ */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
    font-size: 3rem;
    /* color: var(--bg-primary) */
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}
/* Logo Ends ################################################ */


/* Main Content Begins ################################################ */
 .main-content {
     display: flex;
     width: auto;
     height: auto;
     justify-content: center;
     align-items: center;
     margin-left: 5rem;
     /* padding: 1rem; */
 }


/* Projects Section Begins ################################################ */
 .projects-page {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: auto;
 }

 .projects-header {
     display: flex;
     justify-content: center;
     align-items: center;
     width: auto;
     height: 10rem;
     margin: 1rem;
     padding: 1rem;
     /* background-color: var(--bg-secondary); */
 }

 .projects-section {
     width: auto;
     height: auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: 1rem;
     margin: 1rem;
 }

 /* Project Cards Begin ################################################## */
 .project-card-div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: auto;
     height: auto;
     margin: 3rem;
     padding: 1rem;
     border: 1px solid var(--bg-primary);
     border-radius: 5px;
 }

 .project-card-div:hover {
     border: 2px solid var(--bg-secondary)
 }

 .project-card-screen {
     width: 35rem;
     height: 20rem;
     border: 1px solid var(--bg-primary)
 }

 .project-card-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 35rem;
     height: 10rem;
 }

 /* ########################### */
 /* ## Projects Modals Begin ## */
 /* ########################### */

 .project-modal-div {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(56, 54, 54,0.5);
    top: 0;
    margin-left: -2.5rem;
  }

  
  /* Modal Content */
  .project-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    width: auto;
    height: 80vh;
    padding: 1rem;
    border: 2px solid var(--bg-primary);
    border-radius: 0.5rem;
    overflow: scroll;
    z-index: 10;
  }
  
  /* The Close Button */
  .close-modal-btn {
    color: #aaaaaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal-btn:hover,
  .close-modal-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .project-modal-header {
      display: flex;
      width: auto;
      height: 2rem;
      padding: 1rem;
      margin: 0 1rem 0 1rem;
      background-color: pink;
  }

  .project-modal-top-section {
      display: flex;
      height: auto;
      width: 100%;
  }

  .project-modal-screen {
      height: 28rem;
      width: 60rem;
      margin: 1rem;
      padding: 1rem;
      background-color: pink;
  }

  .project-modal-screen-side {
      width: 20rem;
      height: 28rem;
      margin: 1rem;
      padding: 1rem;
      background-color: pink;

  }

  .project-modal-bottom-section {
      display: flex;
      width: 100%;
      height: auto;
  }

  .project-modal-title {
      margin: 1rem;
      padding: 1rem;
      background-color: pink;
      height: auto;
      width: 100%;
  }

  .project-modal-explain {
      width: 60rem;
      height: 55rem;
      margin: 1rem;
      padding: 1rem;
      background-color: pink;
    
  }

  .project-modal-tech-used {
      width: 20rem;
      height: 55rem;
      background-color: pink;
      margin: 1rem;
      padding: 1rem;

  }

/* ########################### */
/* ## Projects Section Ends ## */
/* ########################### */

/* ############################## */
/* ## Home Page Section Begins ## */
/* ############################## */

 .home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* margin-left: 5rem; */
 }

 .landing-page-image {
     width: 100vw;
 }

 .home-landing-section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow: hidden;
 }

 .home-landing-title-box {
     display: flex;
     flex-direction: column;
     position: absolute;
     background-color: transparent;
     color: white;
     margin-top: 14rem;
     margin-left: 3.5rem;
     padding: 1rem;
     text-align: center;
     border: 1px solid var(--bg-primary);
     border-radius: 5px;
 }

 .home-landing-title-box h3 {
     letter-spacing: 0.3ch;
 }

 .home-landing-title-box h4 {
    letter-spacing: 0.3ch;
}

/* Home Middle Section ################################### */
 .home-middle-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 50rem;
     align-items: center;
 }

 .home-middle-section-text-box {
     display: flex;
     flex-direction: column;
     /* margin-left: 10rem; */
     padding: 2rem;
     width: 60rem;
     border: 1px solid var(--bg-primary);
     border-radius: 5px;
 }

/* Home Lower Section */
 .home-lower-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: auto;
 }

 .home-lower-section-text-box {
    display: flex;
    flex-direction: column;
    /* margin-left: 10rem; */
    padding: 2rem;
    margin: 2rem 0 2rem 0;
    width: 60rem;
    border: 1px solid var(--bg-primary);
    border-radius: 5px;
}
/* ############################ */
/* ## Home Page Section Ends ## */
/* ############################ */


/* ##################### */
/* ## Bio Page Begins ## */
/* ##################### */
 
.bio-page {
    width: 50rem;
    height: 50rem;
    background-color: #fefefe;
}

.art-page {
    width: 50rem;
    height: 50rem;
    background-color: #fefefe;
}

.contact-page {
    width: 50rem;
    height: 50rem;
    background-color: #fefefe;
}
